@page "/Bank/DeleteAccount/"
@inject DbContextService DbContextService
@inject NavigationManager NavigationManager
@layout BankLayout


<PageTitle>Delete Account</PageTitle>

<h3>Delete Account</h3>

@if (account == null)
{
    <p>Loading...</p>
}
else
{
    <div class="alert alert-warning">
        <p>
            Are you sure you want to delete the account?
            <strong>@account.AccountNumber</strong> - <strong>@account.AccountName</strong>?
        </p>
    </div>
    <button class="btn btn-danger" @onclick="RemoveAccount">Delete</button>
    <button class="btn btn-secondary" @onclick="Cancel">Cancel</button>
}

@code {
    [Parameter] public int AccountId { get; set; }
    private Account? account;

    protected override async Task OnInitializedAsync()
    {
        account = await DbContextService.GetAccountByIdAsync(AccountId);
    }

    private async Task RemoveAccount()
    {
        if (account != null)
        {
            // User id and account id.
            await DbContextService.DeleteAccountAsync(account.UserId, account.Id);
            NavigationManager.NavigateTo("/Bank");
        }
    }

    private void Cancel() => NavigationManager.NavigateTo("/Bank");
}
