@inherits LayoutComponentBase
@layout BankLayout
@rendermode InteractiveServer


<h1>Manage your bank accounts</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-3">
        <ManageNaveMenuBank />
        </div>
        <div class="col-md-9">
           <!--@Body => check this up, maybe you've Create this option-->
        </div>
    </div>
</div>
