@inherits LayoutComponentBase
@layout BankLayout

<h1>Manage your bank accounts</h1>

<div>
    <h2>Change your bank account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <ManageNavMenuBank />
        </div>
        <div class="col-md-9">
            @Body
        </div>
    </div>
</div>
