@using Microsoft.AspNetCore.Identity
@using BankApp.Data
@rendermode InteractiveServer


<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="Bank/CreateAccount">Create Account</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Bank/EditAccount">Edit Account</NavLink>
    </li>
    <li class="nav-item"
        ><NavLink class="nav-link" href="Bank/LockAccount">Lock/Unlock Account</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="Bank/DeleteAccount">Delete Account</NavLink>
    </li>
</ul>