@page "/auth"
@using BankApp.Components.Account.Pages
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    You are logged in as: [@context.User.Identity?.Name]
    
    <div class="Admin-page" style="margin-top: 20px;">
        <Admin />
    </div>
</AuthorizeView>
