@page "/"
@using BankApp.Components.Pages
@using BankApp.Components.Account.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.EntityFrameworkCore.Metadata.Internal

@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Home/Bank Account</PageTitle>

<h3 style="margin-top: 1%; margin-bottom: 1%;">Welcome to your personalized bank application.</h3>
<AuthorizeView>
    You are logged in as: [@context.User.Identity?.Name]
    <div class="Admin-page" style="margin-top: 20px; margin-bottom: 2%;">
            <h4>Current Balance: Shit poor</h4>
    </div>
    <hr />
    <BankApp />
</AuthorizeView>

@code {

}